<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'tasks:home' %}">Tasks</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#sub-navbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="sub-navbar">
            <ul class="navbar-nav">
                <a class="nav-link" href="{% url 'tasks:recurring' %}">Recurring</a>
            </ul>

        </div>
    </div>
</nav>