{% extends 'home/base.html' %}
{% load crispy_forms_tags %}

{% block navigation %}
<nav class="nav">
    <a class="nav-link" href="{% url 'home:home' %}">Home</a>
    <a class="nav-link" href="/admin">Admin</a>
</nav>
{% endblock navigation %}

{% block body %}
<form action="{% url 'tasks:home' %}" method="post">
    {% csrf_token %}
    {{task_form|crispy}}
    <button class="btn btn-primary">Add</button>
</form>
<ul class="list-group">
    {% for task in tasks %}
    <li class="list-group-item">
        {{task}}
        <a class="btn btn-danger" href="{% url 'tasks:delete' pk=task.pk %}"><i class="bi bi-trash3"></i></a>
    </li>
    {% endfor %}

</ul>

{% endblock body %}