{% extends 'home/base.html' %}
{% load crispy_forms_tags %}

{% block navigation %}
<nav class="nav">
    <a class="nav-link" href="{% url 'home:home' %}">Home</a>
    <a class="nav-link" href="/admin">Admin</a>
</nav>
{% endblock navigation %}

{% block body %}
<ul class="list-group">
    {% for task in tasks %}
    <li class="list-group-item">
        {{task}}
        <button class="btn btn-danger"><i class="bi bi-trash3"></i></button>
    </li>
    {% endfor %}

</ul>

{{task_form|crispy}}
{% endblock body %}